@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
}
/* variables */
:root {
  --color-primary: rgba(28, 28, 46, 0.2);
  --color-primary-main: rgb(55, 58, 125);
  --color-primary-light: rgb(151, 154, 219);
  --color-danger: rgb(183, 21, 21);
  --color-white: #fff;
  --color-blk: #333;
  --color-gray:#ccc;
  --color-black:#000
  --color-light: rgb(204, 193, 193);

  --container-bg:31.25rem;
  --container-sm:100%;

  --transition: all 400ms ease;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-blk);
  background-color: var(--color-primary);
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.25em;
}

header h1 {
  font-weight: 300;
  margin-left: 0.65em;
}
header img {
  width: 20%;
  display: block;
  object-fit:cover;
  padding-left: .5em;
  border-radius:20%;
}

.container {
  max-width: var(--container-bg);
  margin: 1.8em auto;
  padding: 1em;
}

/* input and the form item */
.form-input {
  width: 100%;
  font-size: 1.1rem;
  margin-bottom: 1em;
  padding: 0.6em;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
}

.form-filter {
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid var(--color-primary-light);
  background: transparent;
}
.warning {
  color: red;
  padding-bottom: 0.6em;
  display: none;
}
hr.line {
  border: .5px solid var(--color-primary-light);
  margin-top:.5em;
}

/* app buttons */
.btn {
  background-color: var(--color-primary-main);
  color: var(--color-white);
  font-weight:500;
  border: none;
  border-radius: 5px;
  padding: 0.6em 1em;
  cursor: pointer;
  transition:var(--transition);
}

.btn:hover {
  background-color: var(--color-primary-light);
  color: var(--color-black);
  transform: translateX(20px);
}

.btn-link {
  font-size: 1rem;
  background-color: transparent;
  color: var(--color-blk);
  border: none;
  cursor: pointer;
}

.btn-clear {
  margin-top: 1em;
  width: 100%;
  font-size: 1rem;
  background-color: var(--color-primary-light);
  border:none
  color: var(--color-blk);
  border-radius: 5px;
  padding: .6em 1em;
  cursor: pointer;
}

.btn-clear:hover {
  background-color: var(--color-primary-main);
  color:var(--color-white);
}

.text-red {
  color: red;
}

/* items */

.items {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
}

.items li {
  display: flex;
  justify-content: space-between;
  width: 45%;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  padding: .6em .8em;
  margin: 0 .3em 1em;
  font-weight: 700;
  color:var(--color-primary-main);
  cursor: pointer;
}
/* media (responsiveness) */
@media screen and (max-width: 500px) {
  header img {
    display: none;
  }
  h1 {
    font-size: 1.6rem;
  }
  .items li {
    width: var(--container-sm);
  }
}
